/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/**/*.php
tests/**/*ExampleTest.php
public/js/app.js
public/css/app.css
/app.css
/app.js
